<!DOCTYPE html>
<html>
<head>
    <title>Calculadora</title>
  <body style="background-color:rgb(192,192,192);"></body>
</head>
<body>
    <h1>Calculadora</h1>
    <form action="/resultado" method="POST">
        <input type="number" name="num1" placeholder="Número 1" required>
        <input type="number" name="num2" placeholder="Número 2" required>
        <select name="operacao">
            <option value="add">Adição (+)</option>
            <option value="subtract">Subtração (-)</option>
            <option value="multiply">Multiplicação (*)</option>
            <option value="divide">Divisão (/)</option>
        </select>
      <input style = background-color:green;color:white;width:100px;
        <input type="submit" value="Calcular">
       <p style="font-size:17px; color:black">Criado por Raquel Campos</p>
    </form>
</body>
</html>